@import url("../backup/backup.css");

.html {
   scroll-behavior: smooth;
}

body {
   position: relative;
   background-image: url("../images/2.png");
   background-repeat: no-repeat;
   background-size: 25%;
   /* to right to bottom*/
   background-position: -17% 120%;
   overflow-x: hidden;
}

section {
   margin: 50px 0px
}

.PageTitle {
   text-align: center;
   margin-bottom: 30px;
   font-size: 35px;
   font-weight: bold;
   color: var(--buttonsColor)
}

/* .TeamImage img {
   display: flex;
   align-items: center;
   margin: auto;
   border: solid;
   border-width: 7px;
   border-radius: 30px;
   border-color: var(--buttonsColor);
   width: 50%;
   margin-bottom: 30px;

} */
.mySlides {display: none}
.mySlides img {
   vertical-align: middle;
   border: solid;
   border-width: 5px;
   border-radius: 20px;
   border-color: var(--buttonsColor);
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--buttonsColor);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fcc977e3;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



.text {
   align-items: center;
   margin: auto;
   /* margin-left: 110px; */
   padding-top: 15vh;
   /* border : solid; */
   color: white;
   width: 80%;
}

.doc {
   list-style: none;
   text-decoration: none;
   color: var(--buttonsColor);
}

.doc:hover {
   opacity: 0.7;
}

.backgroundImage1 {
   position: absolute;
   top: 15%;
   right: -16%;
   opacity: 0.7;
   animation: rotation 200s infinite linear;
   z-index: -1;
}

.backgroundImage2 {
   position: absolute;
   top: 15%;
   left: -16%;
   opacity: 0.7;
   animation: rotation 200s infinite linear;
   z-index: -1;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
   .prev, .next,.text {font-size: 11px}
 }