@import url("../backup/backup.css");

.html {
   scroll-behavior: smooth;
}

body {
   position: relative;
   background-image: url("../images/2.png");
   background-repeat: no-repeat;
   background-size: 25%;
   /* to right to bottom*/
   background-position: -17% 117%;
   overflow-x: hidden;
}

section {
   margin : 0 80px;
}

.PageTitle {
   text-align: center;
   margin-bottom: 50px;
   font-size: 35px;
   font-weight: bold;
   color: var(--buttonsColor)
}


.cardContainer{
   display: flex;
   justify-content: center;
}
.card {
   display: flex;
   flex-direction: row;
   width: 48%;
   height: 220px;
   border:  none;
   margin: 1% ;
   padding: 20px 30px;
   box-sizing: border-box;
   float: left;
   border-radius: 10px;
   background-color: white;
   background-image: url("../images/1.png"), url("../images/1.png"), url("../images/1.png"), url("../images/1.png");
   background-repeat: no-repeat;
   background-size: 75%;
   background-position: 250% 45%;
   opacity: 0;
   transform: translateY(-20px);
   transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease; ;
   cursor: pointer;
 }
 .card:hover {
   transform: scale(1.05);
   box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.749); /* Adding box-shadow */
 }

 @keyframes fadeInUp {
   from {
     opacity: 0;
     transform: translateY(20px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 .card .logo-pole{
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .card .card-content{
   width: 70%;
   
 }
 .logo-pole img{
   width: 90px;
   height: 90px;
 }
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 .card.show {
   opacity: 1;
   transform: translateX(0);
 }
 .card-content h3{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   height: 35%;
 }
 .card-content p{
   height: 70%;
   font-size: 0.9em;
 }
 .card-content p a{
   color: var(--buttonsColor);
 }