@import url("../backup/backup.css");

.html{
   scroll-behavior: smooth;
}
body {
   position: relative;
   background-image: url("../images/2.png");
  background-repeat:  no-repeat;
  background-size:  25%;
  /* to right to bottom*/
  background-position:  -17% 117% ;
   overflow-x: hidden;
}
section{
   /* top right botton left */
   margin:20px 200px 0px 200px;
}
.PageTitle{
   text-align: center;
   margin-bottom: 40px;
   font-size: 35px;
   font-weight: bold;
   color: var(--buttonsColor)
}
.pole-slider{
   margin-bottom: 20px;
   position: relative;
   
}

/* center card */
.pole-slider .owl-item.center .card-pole{
   transform: scale(1);
   opacity: 1;
   z-index: 3;

}


/* seconds ones */
.card-pole{
   text-align:center;
   /* top right bottom left */
   padding: 1rem 2rem 1rem 2rem; 
   background : white;
   border-radius: 4% !important;
   transform:scale(0.9);
   opacity: 0.5;
   transition: all 0.3s;
   background-image: url("../images/2.png"), url("../images/2.png");
   background-repeat:  no-repeat;
   background-size:  60%;
   /* to right to top */
   background-position:  170% -21% ;

   z-index: 2;
}

/* third ones */
.target1, .target2 {
   transform:scale(0.8) !important;
   opacity: 0.4;

   z-index: 1;
 }

.target1{
   margin-right: -5px !important;
   margin-left: 30px;
}
.target2{
   margin-left: -30px !important;
}



.card-pole img {
   border-radius:50%;
   inline-size: 100%;
   aspect-ratio: 6/6;
   object-fit: cover;
   border-style: solid;
   border-color: var(--principleColor);
   margin-bottom: 10px;
}

.poleName{
   color: var(--principleColor);
   font-weight : bold;
   font-size: 0.8rem;
}
.poleDesc{
   color: grey;
   font-size:0.75rem ;
   padding-bottom: 0.1rem;
   padding-top: 0.1rem;
}

.card-pole  a{
  color: var(--buttonsColor);
   text-align: center;
   font-size : 13px;
   font-weight: bold;
   transition: all 0.3s ease;
}

.card-pole a:hover{
   opacity: 0.6;
}

.owl-nav .owl-next{
   position: absolute;
   top: calc(40% - 25px );
   right: 0;
   opacity: 1;
   font-size : 2.5rem !important;
   color: var(--buttonsColor) !important;

   z-index: 1  ;
}

.owl-nav .owl-prev{
   position: absolute;
   top: calc(40% - 25px );
   left: 0;
   opacity: 1;
   font-size : 2.5rem !important;
   color: var(--buttonsColor) !important;

   z-index: 1  ;
}

.owl-dots{
   text-align: center !important;
   margin-top: 10px;
   /* margin-bottom: 90px; */
}
.owl-dot{
   height : 7px !important;
   width: 7px !important;
   background-color: white !important;
   opacity: .8;
   margin: 0 6px;
   border-radius: 50% ;

}

.owl-dot.active{
   background-color: var(--buttonsColor) !important;
   transform: scale(1.6) !important;
}


.AddTopaMargin{
   margin-top: 100px;
   margin-bottom: -70px;
}

.DescSection {
   margin:auto;
  border-radius: 10px ;
  padding: 20px 60px 80px 60px ;
  width: 75%;
  background-color: white;
  background-image: url("../images/1.png"), url("../images/1.png");
   background-repeat:  no-repeat;
   background-size:  75%;
   /* to right to top */
   background-position:  250% 45% ;
}

.DescSection img {
   width: 25%;
   float: left;
   padding: 0px 40px 0 0; 
}

.DescSection p h3{
   float: right;
} 

.DescSection h3{
   color: var(--principleColor);
   margin-bottom: 20px;
   text-align: center;

}