@import url("../backup/backup.css");


body {
    position: relative;
    background-image: url("../images/2.png");
	background-repeat:  no-repeat;
	background-size:  25%;
	background-position:  -17% 120% ;
    overflow-x: hidden;
}

section{
    margin: 110px 60px 0 70px;
}
.stbg2{
    position: absolute;
    top: -2%;
    right: -25%;
    animation: rotation 200s infinite linear;
    z-index: -1;
}

.stbg3{
    position: absolute;
    bottom: -15%;
    left: -18%;
    z-index: -1;
}

.stbg1{
    position: absolute;
    top: -8%;
    right: -25%;
    animation: rotationinvers 200s infinite linear;
    z-index: -1;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes rotationinvers {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.main{
    width: 50%;
    color: var(--textColor);
}
.mmc_title{
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 20px;
}
.mmc_desc{
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    padding: 0.5em 4em;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
}


.join{
    background-color: var(--buttonsColor);
    color: var(--principleColor);
    margin-right: 20px;
}
.join:hover{
    opacity:0.75;
}
.activities{
    border: 0.1em solid var(--buttonsColor);
    color: var(--buttonsColor);
}
.activities:hover{
    opacity: 0.5;
}

.Dayarticle{
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    align-items: center;
}
.Dayarticletitle{
    color: var(--buttonsColor);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.article{
    
    color: var(--textColor);
    width: 65%;
    text-align: center;
    font-style: italic;

}
.readmore{
    list-style: none;
    color: var(--buttonsColor);
}
.readmore:hover{
    opacity: 0.7;
}
