@import url("../backup/backup.css");

/* @import "http://unpkg.com/open-props";
@import "http://unpkg.com/open-props/normalize.min.css"; */
.html{
   scroll-behavior: smooth;
}
section{
   /* top  */
   margin:80px 60px 0px 70px;
}
.PageTitle{
   text-align: center;
   margin-bottom: 60px;
   font-size: 35px;
   font-weight: bold;
   color: var(--buttonsColor)
}
.slider{
   margin-bottom: 20px;
   position: relative;
}
.slider .owl-item.center .slider-card{
   transform: scale(1);
   opacity: 1;
}

.slider-card{
   text-align:center;
   padding: 3.5rem; 
   background : white;
   border-radius: 3%;
   transform: scale(0.8);
   opacity: 0.5;
   transition: all 0.3s
}


.slider-card img {
   border-radius:50%;
   inline-size: 100%;
   aspect-ratio: 6/6;
   object-fit: cover;
   border-style: solid;
   border-color: var(--principleColor);
   margin-bottom: 10px;
}

.MemberName{
   color: var(--principleColor);
   font-weight : bold;
   font-size: 0.8rem;
}
.MemberRole{
   color: grey;
   font-size:0.75rem ;
   padding-bottom: 1rem;
   padding-top: 0.1rem;
}

.slider-card  a{
   display: inline-block;
   height: 30px;
   width: 30px;
   background-color: var(--buttonsColor);
   margin: 0 6px 6px 0;
   text-align: center;
   line-height: 30px;
   border-radius: 50%;
   color: white;
   transition: all 0.3s ease;
}

.slider-card a:hover{
   opacity: 0.6;
}

.owl-nav .owl-next{
   position: absolute;
   top: calc(40% - 25px );
   right: 0;
   opacity: 1;
   font-size : 2.5rem !important;
   color: var(--buttonsColor) !important;


   z-index: 1  ;
}

.owl-nav .owl-prev{
   position: absolute;
   top: calc(40% - 25px );
   left: 0;
   opacity: 1;
   font-size : 2.5rem !important;
   color: var(--buttonsColor) !important;

   z-index: 1  ;
}

.owl-dots{
   text-align: center;
   margin-top: 50px;
}
.owl-dot{
   display: inline-block;
   height : 10px !important;
   width: 10px !important;
   background-color: white !important;
   opacity: .8;
   margin: 0 10px;
   border-radius: 50% ;
}

.owl-dot.active{
   background-color: var(--buttonsColor) !important;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.TeamCartes::-webkit-scrollbar {
   display: none;
}

.TeamCartes{
   /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */

   display: grid;
   gap: 5rem;
   grid-auto-flow: column;
   grid-auto-columns: 20%;
   /* grid-template-columns: repeat(2,1fr); */

   overflow-x: auto;
   overscroll-behavior: contain;
}

.snap_inline{
   scroll-snap-type: inline mandatory;
   scroll-padding-inline: 2rem;
}

.snap_inline > * {
   scroll-snap-align: start;
}


.left-button , .right-button{
   /* position: fixed; */
   background-color: transparent;
   color: var(--buttonsColor);
   font-size : 3rem;
   font-weight : bold;
   font-family: italic;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   cursor: pointer;
}

.left-button:hover, .right-button:hover{
   opacity: 0.6;
}

.left-button{
   margin-right: -150px;
}

.right-button{
   margin-left: -150px;
}


.OneCarte{
   text-align:center;
   /* display: grid;
   grid-template-rows: min-content; */
   gap: var(--size-3); 
   padding: 4rem; 
   background : white;
   border-radius: 3%;

   /* transform: scale(0.7);
   transition: transform 0.2s ease-in-out; */
}

.OneCarte > img{
   border-radius:50%;
   inline-size: 100%;
   aspect-ratio: 6/6;
   object-fit: cover;
   border-style: solid;
   border-color: var(--principleColor);
}



