@import url("../base.css");

body {
   position: relative;
   background-image: url("/images/2.png");
   background-repeat: no-repeat;
   background-size: 25%;
   /* to right to bottom*/
   background-position: -17% 116%;
   overflow-x: hidden;
}

section {
   margin: 55px 0;
}

.backgroundImage1 {
   position: absolute;
   top: 10%;
   right: -17%;
   opacity: 0.7;
   animation: rotation 200s infinite linear;
   z-index: -1;
}

.backgroundImage2 {
   position: absolute;
   top: 10%;
   left: -17%;
   opacity: 0.7;
   animation: rotation 200s infinite linear;
   z-index: -1;
}

.FAQ-Title,
.Form-Title,
.Title {
   text-align: center;
   margin-bottom: 25px;
   font-size: 35px;
   font-weight: bold;
   color: var(--buttonsColor)
}

.FAQ-Title {
   margin-bottom: 50px;
}

/* FAQ Ssection */
.faq-container {
   width: 55%;
   margin: 0 auto;
   margin-bottom: 10%;
   border-radius: 10px;
   background-color: #fff;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.faq {
   box-sizing: border-box;
   background: transparent;
   padding: 20px;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

.faq:not(:first-child) {
   border-top: 1px solid #e6e6e6;
}

.faq-title {
   margin: 0 35px 0 0;
}

.faq-text {
   margin: 30px 0 0;
   display: none;
   line-height: 1.5rem;
}

.faq.active {
   background-color: rgba(212, 212, 212, 0.3);
   box-shadow: inset 4px 0px 0px 0px var(--accent-color);
}

.faq.active .faq-title {
   color: var(--accent-color);
}

.faq.active .faq-text {
   display: block;
}

.faq-toggle {
   background-color: transparent !important;
   border: 0px solid #000;
   color: inherit;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   padding-top: 3px;
   position: absolute;
   top: 20px;
   right: 30px;
   /* height: 30px;
   width: 30px; */
   transition: 0.3s ease;
}

.faq-toggle:focus {
   outline: none;
}

.faq.active .faq-toggle {
   transform: rotate(180deg);
   background-color: var(--accent-color);
   border-color: var(--accent-color);
   color: #000;
}

/* CONTACT US */
.Form-Title,
.form-container {
   display: flex;
   margin-left: 6%;
}

#myForm {
   color: white;
   width: 50%;
   margin-right: 10%;
}

.form-Namail{
   display: flex;
   flex-direction: row;
   margin-bottom: 2%;
   width: 100%;
}
.object{
   margin-bottom: 2%;
}
.name{
   margin-right: 5%;
   width: 50%;
}
.email{
   width: 50%;
}
.label{
   margin-bottom: 5px;
}
#name,#email,#object{
   width: 100%;
   padding: 10px 15px;
   border: none;
   border-radius: 2px;
   outline: none;
   
}

#message{
   padding: 10px 15px;
   border: none;
   border-radius: 2px;
   outline: none;
   width: 100%;
   resize: vertical;
}

input[type='Submit'] {
   background-color: var(--buttonsColor);
   padding: 8px 40px;
   margin-top: 3%;
   border-radius: 2px;
   border:  none;
   color: #fff;
   font-weight:500;
}


.ContactUs {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
   margin-left: -5%;
}

.sous_title {
   color: whitesmoke;
   text-align: center;
   margin-bottom: 30px;
}

.mmcsm ul{
   list-style: none;
   display: flex;
   flex-direction: row;
   
}
.mmcsm ul{
   margin-bottom: 30px;
}
.mmcsm ul li a{
   margin: 0 20px;
   text-decoration: none;
   color: var(--principleColor);
   
}
.mmcsm a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--textColor);
  margin: 0 10px 20px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--principleColor);
  transition: all 0.3s ease;
}
.mmcsm a:hover{
  color: var(--textColor) ;
  background-color: var(--principleColor) ;
   border: 0.03em solid var(--textColor);
}



